* {
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
}
body {
  background-color: #1f2833;
  color: white;
}
.home-background {
  background-image: url("slate-texture-background_compress35.jpg");
  width: 100%;
  height: auto;
  margin: 0;
  color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-bottom: solid #c5c6c7 5px;
}
.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 5px;
}
.heme-description {
  width: 90%;
  color: #c5c6c7;
}
.home-heading {
  padding: 30px;
  font-size: 2em;
  color: #66fcf1;
}
.btn {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.btn-site {
  border-color: #66fcf1;
  color: #c5c6c7;
  border-radius: 10px;
}

.btn-site:hover {
  background-color: #0b0c10;
  /* background-color: #2196F3; */
  /* border-color: #66; */
  /* color: #c5c6c7; */
  /* color: #0b0c10; */
  outline: none;
}
.visit-site-btn {
  padding: 50px;
}
/* .container {
  padding: 20px;
} */
.all-modals-container {
  background-color: #45a29e;
  /* padding: 20px; */
  /* padding-left: 50; */
  padding-bottom: 20px;
  border-radius: 0px 0px 30px 15px;
  color: #1f2833;
  border-bottom: solid #c5c6c7 5px;
}
.all-modals-ul {
  padding-left: 50px;
}
.all-modals-ul li {
  padding: 5px;
  font-weight: bold;
}
.all-modals-heading {
  padding: 20px;
}
.panigale-v2-section,
.panigale-v4-section,
.r-final-section {
  background-color: #1f2833;
  /* border-color: solid #fff 5p; */
  padding: 20px;
  border-top: solid #c5c6c7 5px;
  border-radius: 20px 10px 0px 0px;
  border-bottom: solid #66fcf1 4px;
}
.panigale-v2-section h2,
.panigale-v4-section h2,
.r-final-section h2 {
  padding: 10px;
  color: #45a29e;
}
.panigale-v2-section p,
.panigale-v4-section p,
.r-final-section p {
  color: #c5c6c7;
  padding: 10px;
  padding-left: 20px;
}
.panigale-v4-section {
  border: none;
  border-bottom: solid #66fcf1 4px;
}
.r-final-section {
  border: none;
}
.v2-p-image-container,
.v4-p-image-container,
.r-p-image-container {
  display: flex;
}
.v2-image,
.v4-image,
.r-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: solid #c5c6c7;
}
.v4-image,
.r-image {
  width: 200px;
}
@media only screen and (max-width: 420px) {
  .v2-p-image-container,
  .v4-p-image-container,
  .r-p-image-container {
    flex-direction: column;
  }
  /* .v2-image,
  .v4-image,
  .r-image {
    padding: 20px;
  } */
 .image-container{
   /* padding: 20px; */
   /* background-color: #fff; */
   /* padding-left: 20px; */
   display: flex;
   align-items: center;
   justify-content: center;
 }
}
